.corpo{
    font-family:arial;
    background-image: linear-gradient(80deg, rgb(39, 147, 174), rgb(12, 16, 127));
}

.caixa{
    background-color: rgba(0, 0, 0, 0.848);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    padding: 100px;
    border-radius: 15px;
    color: #fff;
}

input{
    padding: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    


}

button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 224px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover{
    background-color: navy;
    cursor: pointer;

}